<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.phonecallapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Phone Call App</name>
    <description>A call management application</description>
    <author email="dev@example.com" href="http://example.com">
        Your Name
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="tel:*" />

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.CALL_PHONE" />
            <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CallManager">
                <param name="android-package" value="com.example.CallManager"/>
            </feature>
        </config-file>
    </platform>
</widget>

