<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.callmanager" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Call Manager</name>
    <description>A call management application</description>
    <author email="dev@example.com" href="http://example.com">
        Your Name
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="tel:*" />

    <platform name="android">
        <preference name="AndroidLaunchMode" value="singleInstance"/>
    </platform>
</widget>

